{% extends '::base.html.twig' %}

{% block body %}
    
<div class="container">
    <div class="row">
        
        {% if codeErreur == 1 %}
        <div id="messageUser">
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times</a>
               <strong>Merci !</strong> Le livre a bien été ajouté !
            </div>
        </div>
        {% endif %} 
        
        <div class="wrapper">
            
                    
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
                  
             <button type="submit" name='action'class="btn btn-lg btn-primary btn-block" id="btnContactUs">Ajouter le livre</button>
               
        {{ form_end(form) }}
        
        </div>

   
 
 {% endblock%}
 
 {% block javascripts %}
     
     <script type="text/javascript">
        $(function () {
            $('#form_auteur').autocomplete({
                source : "{{ path('bibli_ajouter_livre_autocompletion_auteur') }}"
            });
        });
    </script>
   
     
 {% endblock%}