{% extends '::base.html.twig' %}


{% block title %}Consulter un message{% endblock %}

{% block body %}
    
    <div class="wrapper">
        
       <p><a href="{{ path('bibli_consulter_liste_messages') }}" class="btn btn-lg btn-primary btn-block">Revenir sur la liste des messages</a></p>
                    
                  
        <div class="form-group">
            <label for="titre">
                Nom de l'auteur</label>
            <input type="text" class="form-control" id="titre" name="titre"  value=" {{message.authorname}}" readonly="true" />
        </div>
                        
        <div class="form-group">
            <label for="auteur">
                Sujet
            </label>
            <input type="text" class="form-control" id="auteur" name="auteur" value=" {{message.subject}}" readonly="true" />
        </div>
        
        
        <div class="form-group">
            <label for="auteur">
                 Mail
            </label>
            <input type="text" class="form-control" id="auteur" name="auteur" value=" {{message.email}}" readonly="true" />
        </div>
                        
                        
        <div class="form-group">
            <label for="resume">
                Message
            </label>
            <textarea class="form-control" id="resume" rows="6" name="resume" readonly="true">{{message.message|raw}}</textarea>
        </div>
                 
        <p><a href="{{ path('bibli_supprimer_un_seul_message', {'idMessage': message.id}) }}" class="btn btn-lg btn-danger btn-block">Supprimer le message</a></p>                       
                        
    </div>
   
{% endblock %}

