{% extends '::base.html.twig' %}

{% block body %}

<div id="recherche" class="input-group">
    <span class="input-group-addon">Rechercher un message </span>
    <input id="filter" type="text" class="form-control" placeholder="Taper ici...">
</div>
  
<div id="tableUser">
    <span class="counter pull-right"></span>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom de l'auteur</th>
                <th>Sujet</th>
                <th>Message</th>
            </tr>
	</thead>
        <tbody class="searchable">
            {% for message in messages|reverse %}                 
                {% if message.isRead == false %}         
                    <tr onclick="document.location ='{{ path('bibli_consulter_un_seul_message', {'idMessage': message.id}) }}';" style="cursor: pointer;" >
                        <td><b>{{message.authorname}}</b></td>
                        <td><b>{{message.subject}}</b></td>
                        <td><b>{{message.message|slice(0, 40)}} ...</b></td> 
                    </tr>               
                {% else %}
                    <tr onclick="document.location ='{{ path('bibli_consulter_un_seul_message', {'idMessage': message.id}) }}';" style="cursor: pointer;" >
                        <td>{{message.authorname}}</td>
                        <td>{{message.subject}}</td>
                        <td>{{message.message|slice(0, 40)}} ...</td> 
                    </tr>                    
                {% endif %}
            {% endfor %}
	</tbody>
    </table>
</div>

 {% endblock%}
 
 
 
{% block javascripts %}
      
        <script type="text/javascript">
                 
         $(document).ready(function () {

            (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});       
        </script>     
      
{% endblock %}