{% extends '::base.html.twig' %}

{% block title %}Mes réservations{% endblock %}


{% block menuconnecte %}
    {% include '::menu.connecte.html.twig' %}
{% endblock %}

{% block body %}
    
   <div class="container" id="content">

    <div class="row">
        <h3 class="form-signin-heading">Voici la liste de mes reservations (maximum 3 livres !)</h3>
        
        
         {% if livres is empty %}
                
             <center><label> Vous n'avez aucune reservation ! </label></center>
            
        {% else %}
                    
                <div class="panel panel-primary filterable">
            
                    <table class="table table-hover" id="rechercheTable">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Titre</th>
                                <th>Auteur</th>
                                <th>Réservé jusqu'au</th>
                                <th>Annuler sa réservation</th>
                            </tr>             
                        </thead>
                        <tbody>    
                            {% for livre in livres %}  
                                <tr>
                                    <td> 
                                        <img src="{{asset('uploads/couvertures/'~ livre.couverture)}}" class="img-responsive voc_list_preview_img" alt="" title="" style=width:20% />
                                    </td>
                                    <td>{{livre.titre}}  </td>
                                    <td>{{livre.auteur}}</td>
                                    <td>{{livre.dateRetour|date('d/m/Y')}} </td>
                                    <td><a class="btn btn-danger" href="{{ path('bibli_annuler_une_reservation', {'idLivre': livre.id}) }}">Annuler la reservation</a> </td>
                                </tr>
                            {% endfor %}       
                        </tbody>     
                    </table>   
                </div> 
        {% endif %}
    </div>  
    
   </div> 
 {% endblock%}